form{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,205,13,1) 100%, rgba(0,212,255,1) 100%);
    margin: 0px 20px 60px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    .inputs{
        width: 70%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-sizing: border-box;    
    }
    .comentario{
        color: white;
        height: 70px;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 5px;
        background-color: rgba(255, 255, 255, 0.09); 
        border: 2px solid rgb(0, 0, 0); 
        width: 80%;
    }
    .nombre{
        color: white;
        border-radius: 20px;
        padding: 10px ;
        margin-bottom: 5px;
        background-color: rgba(255, 255, 255, 0.09); 
        border: 2px solid rgb(0, 0, 0);
        width: 80%;
    }
    .email{
        color: white;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 5px;
        background-color: rgba(255, 255, 255, 0.09); 
        border: 2px solid rgb(0, 0, 0); 
        width: 80%;
    }
    h1{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        padding: 10px;
        text-align: center;
    }
}

.btnForm{
    .enviar{
        background-color: rgba(255, 255, 255, 0.09); 
        border: 2px solid rgb(0, 0, 0); 
        border-radius: 20px;
        padding: 10px;
    }
    .reset{
        @extend .enviar
    }
}