header {
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
    position: relative;

    .logo {
        display: flex;
        align-items: center;

        img {
            border-radius: 100%;
        }

        h4 {
            margin: 4px;
            font-family: Arial, Helvetica, sans-serif;
        
    }
}
label{
    cursor: pointer;
    display: none;
    position: absolute;
    left: 90%;
    z-index: 10;

}
#menu{
    display: none; 
}

    .links {
        flex-grow: 1;
        display: flex;
        justify-content: center;

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                list-style: none;
                font-family: Arial, Helvetica, sans-serif;
                margin: 4px;
                font-size: 2vh;

                a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        color: #FFCC0D;
                    }
                }
            }
        }
    }
}

@media(max-width:720px) {
    header {
        
        label{
            display: initial;
        }
        .links{
            width: 100%;
            position: fixed;
            top: 6%;
            background-image: linear-gradient(to right, #1c1b1d, rgb(0, 0, 0),#1c1b1d)!important;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;
            z-index: 9;
            ul{
                display: flex; 
                align-items: center;
                flex-direction: column;

            }
        }
        #menu:checked ~ .links{
            opacity: 1;
                visibility: visible;
        }

    }
}
